nav {
  width: 20vw;
  position: fixed;
  height: 100vh;
  background: $dark-accent;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow-x: hidden;
  display: grid;
  align-content: space-evenly;
  justify-items: center;
  a {
    color: $black;
    text-decoration: none;
    text-transform: uppercase;
  }

  .page-links {
    li:nth-child(2) {
      margin: 30px 0;
    }
  }
  li {
    list-style: none;
    letter-spacing: 3.2px;
  }
  .active {
    position: relative;
    &:before,
    &:after {
      content: "";
      display: inline-block;
      width: 28px;
      height: 2px;
      border-bottom: 2px solid $black;
      position: absolute;
      top: 10px;
    }
    &:before {
      left: -45px;
    }
    &:after {
      right: -45px;
    }
  }
}

.social {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;
  img {
    padding: 10px;
    background: $white;
    border-radius: 5px;
    width: 40px;
    height: 40px;
  }
}
ul {
  padding: 0;
  text-align: center;
}

main {
  margin-left: 20vw;
}

#about {
  background: #000 url("/assets/hero.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  align-items: end;
  color: $white;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  .content {
    grid-area: 1 / 2 / 3;
    // padding: 0px 66px 66px 0;
    width: 80%;
    padding-bottom: 66px;
  }
  h1 {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 7px;
    margin-bottom: 15px;
  }
  p {
    letter-spacing: 3.2px;
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  nav {
    width: 30vw;
  }
  main {
    margin-left: 30vw;
  }
  .logo-container {
    width: 90%;
  }
}

@media (max-width: 480px) {
  nav {
    position: fixed;
    width: 100%;
    height: unset;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

    .active {
      &:before,
      &:after {
        display: none;
      }
    }
    .logo-container {
      max-width: 80px;
    }
  }
  main {
    margin-left: 0;
    margin-top: 81px;
  }
  .page-links {
    display: none;
  }
  #about {
    height: unset;
    .content {
      padding: 40px;
      grid-area: 1 / 1 / 1 / 3;
    }
  }
}
